{% extends "layout.html" %}
{% block body %}

<br>
<br>
<h2>Will a loan default or not?</h2>
<p>Input the following information to make a prediction.</p>
<br>

<div class="results">
    <h2 id="prediction"></h2>
    <h2 id="probability"></h2>
    <br><br>
    <canvas id="myChart" width="200px" height="200px"></canvas>

</div>

<form action="#" method="post" class="add-entry" onsubmit="return false;">
    <dl>
        <dt>Income:</dt>
        <dd>
            $<input type="number" min="0" max="1000000" step="" name="Income" id="Income" class="onchange" value="100000" required">
        </dd><br>
        <dt>Applied Online?:</dt>
        <dd><label><input type="radio" name="AppliedOnline" class="onchange" value="YES" checked> Yes</label>
            <label><input type="radio" name="AppliedOnline" class="onchange" value="NO"> No</label>
        </dd><br>
        <dt>Type of Residence:</dt>
        <dd>
            <select name="Residence" id="Residence" class="onchange">
                <option value="Owner Occupier">Owner Occupier</option>
                <option value="Public Housing">Public Housing</option>
                <option value="Private Renting">Private Renting</option>
                <option value="Sheltered">Sheltered</option>
                <option value="Living with parents/guardian">Living with parents/guardian</option>
            </select><br><br>
        </dd>
        <dt>Years at Current Address: <span id="slider_value_YearCurrentAddress" style="color:blue;font-weight:bold;"></span></dt>
        <dd>
            0 <input type="range" min="0" max="50" step="1" name="YearCurrentAddress" id="YearCurrentAddress" class="onchange" value="10" onchange="show_value_YearCurrentAddress(this.value)"> 50
        </dd><br>
        <dt>Years with Current Employer: <span id="slider_value_YearsCurrentEmployer" style="color:blue;font-weight:bold;"></span></dt>
        <dd>
            0 <input type="range" min="0" max="50" step="1" name="YearsCurrentEmployer" id="YearsCurrentEmployer" class="onchange" value="10" onchange="show_value_YearsCurrentEmployer(this.value)"> 50
        </dd><br>
        <dt>Number of Credit Cards: <span id="slider_value_NumberOfCards" style="color:blue;font-weight:bold;"></span></dt>
        <dd>
            0 <input type="range" min="0" max="10" step="1" name="NumberOfCards" id="NumberOfCards" class="onchange" value="2" onchange="show_value_NumberOfCards(this.value)"> 10
        </dd><br>
        <dt>Credit Card Debt:</dt>
        <dd>
            $<input type="number" min="0" max="" step="" name="CCDebt" id="CCDebt" class="onchange" value="5000">
        </dd><br>
        <dt>Number of Loans:</dt>
        <dd><label><input type="radio" name="Loans" class="onchange" value="0"> 0</label>
            <label><input type="radio" name="Loans" class="onchange" value="1" checked> 1</label>
            <label><input type="radio" name="Loans" class="onchange" value="2"> 2</label>
            <label><input type="radio" name="Loans" class="onchange" value="3"> 3</label>
            <label><input type="radio" name="Loans" class="onchange" value="4"> 4</label>
            <label><input type="radio" name="Loans" class="onchange" value="5"> 5 or more</label>
        </dd><br>
        <dt>Loan Amount:</dt>
        <dd>
            $<input type="number" min="0" max="1000000" step="" name="LoanAmount" id="LoanAmount" class="onchange" value="500000" required>
        </dd><br>
        <dt>Sale Price:</dt>
        <dd>
            $<input type="number" min="0" max="1000000" step="" name="SalePrice" id="SalePrice" class="onchange" value="500000" required>
        </dd><br>
        <dt>Location:</dt>
        <dd>
            <select name="Location" id="Location" class="onchange">
                <option value="100">New England</option>
                <option value="101">Mid Altantic</option>
                <option value="110">South</option>
                <option value="111">Midwest</option>
                <option value="120">West</option>
                <option value="130">Southwest</option>
            </select>
        </dd><br>
        <br>
    </dl>
</form>



{% endblock %}