<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Mortgage Default</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<div class="page">
  <h1>Mortgage Default Prediction</h1>
  <div class="metanav">
  	<a class="" href="/">Mortgage Default</a>
  </div>

<center><image src="{{ url_for('static', filename='Watson.png') }}" /></center>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script type="text/javascript" src="static/range.js"></script>
  <script type="text/javascript" src="static/save.js"></script>
  <script src={{ url_for('static', filename='result.js') }}></script>
  <script
    type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js">
  </script>
  <script src={{ url_for('static', filename='chart.js') }}></script>
  {% block body %}{% endblock %}
</div>

<footer>
Updated May 16, 2017
</footer>